version: '3.8'

services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - MONGO_URI=mongodb://mongo:27017/csv-migration
      - PORT=3000
    depends_on:
      - mongo
    volumes:
      - uploads_volume:/app/uploads
    restart: unless-stopped

  worker:
    build: .
    command: npm run worker
    environment:
      - NODE_ENV=production
      - MONGO_URI=mongodb://mongo:27017/csv-migration
    depends_on:
      - mongo
    volumes:
      - uploads_volume:/app/uploads
    restart: unless-stopped

  mongo:
    image: mongo:6.0
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped



volumes:
  uploads_volume:
  mongo_data:
